    @font-face {
        font-family: 'BoubasFont';
        src: url('/assets/boubasfont.woff2') format('woff2');
    }

    /*import font*/
    @media screen and (max-width: 450px) {
        body {
            zoom: 80%;
            -moz-transform: scale(1);
        }
    }
    /*shrink elemnts for mobile*/
    html 
    {
    min-height: 100%;
    } 

    /*default html settings*/
    body {
        font-family: 'BoubasFont', cursive;
        background-image: linear-gradient(#ffc64b, #ff7171 );
        background-repeat: no-repeat;
        min-height: 100%
    }

    /*default body settings*/
    img {
        max-width: 100%;
        height: auto;
        width: auto\9; /* ie8 */
    }
    /*limit image size*/
    .center {
        text-align: center;
        margin: 25px 50px
    }
    /*center body text*/
    .lheader {
        text-align: left;
        margin-left: 20px;
        img{border-radius: 10px;}
    }
    /*left sided header*/
    .rfooter {
        text-align: right;
        margin-right: 30px;
    } 
    /*right sided footer*/

    .imgborderradius {
        border-radius: 50%;
        text-align: center;
    }

  